In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [16]:
csv_in = 'dm-mid-p4.csv'
df = pd.read_csv(csv_in,skiprows=0, delimiter=',', header=0 , encoding='latin-1')
print(df.shape)
print(df.info())
display(df.head())

(448, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CONTENT  448 non-null    object
 1   CLASS    448 non-null    int64
dtypes: int64(1), object(1)
memory usage: 7.1+ KB
None

                                             CONTENT  CLASS
0        +447935454150 lovely girl talk to me xxxï»¿      1
1  I always end up coming back to this song<br />ï»¿      0
2  my sister just received over 6,500 new <a rel=...      1
3                                            Coolï»¿      0
4                   Hello I&#39;am from Palastineï»¿      1

In [17]:
X = df['CONTENT']
y = df['CLASS']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=62)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(358,) (358,)
(90,) (90,)

In [19]:
vectorizer = CountVectorizer()
vectorizer.fit(X_train)
vocab = vectorizer.get_feature_names()
print('Vocabulary size:', len(vocab))

Vocabulary size: 1504

In [20]:
X_train_bow = vectorizer.transform(X_train)
X_test_bow = vectorizer.transform(X_test)
print('X_train_bow:')
print(repr(X_train_bow))
print('X_test_bow:')
print(repr(X_test_bow))

X_train_bow:
<358x1504 sparse matrix of type '<class 'numpy.int64'>'
	with 5937 stored elements in Compressed Sparse Row format>
X_test_bow:
<90x1504 sparse matrix of type '<class 'numpy.int64'>'
	with 1017 stored elements in Compressed Sparse Row format>

In [21]:
Xbow = pd.DataFrame(X_train_bow.toarray(), 
                    index=y_train, columns=vocab)
display(Xbow.head())

,00,000,047000,09,10,100,1000,100877300245414,11,12,...,youâ,youï,yrs,ytma,yuliya,yuttx04oyqq,zesty,zonepa,ºmy,ºâ
CLASS,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
model = MultinomialNB(alpha=1.0)
model.fit(X_train_bow, y_train)
print(model.classes_)

[0 1]

In [23]:
train_score = model.score(X_train_bow, y_train)
print('Train accuracy:', train_score)

Train accuracy: 0.9776536312849162

In [24]:
y_test_pred = model.predict(X_test_bow)
df_pred = pd.DataFrame({
            'pred': y_test_pred,
            'true': y_test
          }).reset_index(drop=True)
display(df_pred.head())

   pred  true
0     1     1
1     1     1
2     1     1
3     0     0
4     0     0

In [25]:
ctab = pd.crosstab(df_pred['pred'], df_pred['true'])
display(ctab)

true   0   1
pred
0     31   2
1      9  48

In [26]:
test_score = model.score(X_test_bow, y_test)
print('Test accuracy:', test_score)

Test accuracy: 0.8777777777777778