In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
csv_in = "shop_sales.csv"
df = pd.read_csv(csv_in, delimiter=',')
print(df.shape)
print(df.info())
display(df.head())

(200, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ShopID  200 non-null    int64
 1   Pref    200 non-null    object
 2   Type    200 non-null    object
 3   Sales1  200 non-null    int64
 4   Sales2  200 non-null    int64
dtypes: int64(3), object(2)
memory usage: 7.9+ KB
None

   ShopID      Pref       Type  Sales1  Sales2
0     101   Saitama  franchise     108     110
1     102   Saitama     direct      94     108
2     103     Tokyo     direct     103      89
3     104   Saitama  franchise      99     122
4     105  Kanagawa  franchise     113     109

1.

In [3]:
sales1 = df['Sales1']
sales2 = df['Sales2']
display(sales1.head())
display(sales2.head())
alpha = 0.05

t_value, p_value = ss.ttest_1samp(sales2-sales1, 0.0)
if t_value > 0 and p_value / 2 < alpha:
    print("Reject H0: t_value = {} p_value = {}".format(t_value, p_value/2))
else:
    print("Retail H0: t_value = {} p_value = {}".format(t_value, p_value/2))

0    108
1     94
2    103
3     99
4    113
Name: Sales1, dtype: int64

0    110
1    108
2     89
3    122
4    109
Name: Sales2, dtype: int64

Reject H0: t_value = 9.227723073665455 p_value = 2.0675782068478105e-17

2.

In [4]:
sales2_tokyo = df[df['Pref'] == 'Tokyo']['Sales2']
sales2_chiba = df[df['Pref'] == 'Chiba']['Sales2']
display(sales2_tokyo.head())
display(sales2_chiba.head())
alpha = 0.05

t, p = ss.ttest_ind(sales2_tokyo, sales2_chiba, equal_var=False)
if p < alpha:
    print('Reject H0: t_value = {} and p_value = {}'.format(t, p))
else:
    print('Retain H0: t_value = {} and p_value = {}'.format(t, p))

2     89
5    121
6     90
7    103
8    108
Name: Sales2, dtype: int64

14    134
21    114
23    130
29    110
30    127
Name: Sales2, dtype: int64

Retain H0: t_value = -0.014203050540638733 and p_value = 0.9887077113871919

3.

In [5]:
crosstab = pd.crosstab(df["Type"], df["Pref"])
display(crosstab)

Pref       Chiba  Kanagawa  Saitama  Tokyo
Type
direct        13        28       24     34
franchise     15        30       25     31

In [7]:
chi_sq, p_val, dof, expected = ss.chi2_contingency(crosstab)
print(chi_sq, p_val, dof, expected)
if p_val < 0.05:
    print("Reject H0: p_val = {}".format(p_val))
else:
    print("Retain H0: p_val = {}".format(p_val))

0.35072743456882416 0.9502219446727902 3 [[13.86  28.71  24.255 32.175]
 [14.14  29.29  24.745 32.825]]
Retain H0: p_val = 0.9502219446727902

4.

In [8]:
shop_freq = df['Pref'].value_counts()
n_shops = df['Pref'].value_counts().sum()
print(n_shops)
print(shop_freq)

200
Tokyo       65
Kanagawa    58
Saitama     49
Chiba       28
Name: Pref, dtype: int64

In [9]:
pop = pd.Series({'Tokyo':14.0, 'Saitama':7.3, 'Chiba':6.3, 'Kanagawa':9.2}, name='pop')
print(pop)

Tokyo       14.0
Saitama      7.3
Chiba        6.3
Kanagawa     9.2
Name: pop, dtype: float64

In [10]:
pop_ratio = pop / pop.sum()
print(pop_ratio)

Tokyo       0.380435
Saitama     0.198370
Chiba       0.171196
Kanagawa    0.250000
Name: pop, dtype: float64

In [11]:
shop_exp = pop_ratio * n_shops
shop_exp = shop_exp[ shop_freq.index ]
print(shop_exp)

Tokyo       76.086957
Kanagawa    50.000000
Saitama     39.673913
Chiba       34.239130
Name: pop, dtype: float64

In [12]:
chi2, p = ss.chisquare(shop_freq, f_exp=shop_exp)
print(chi2, p)

6.224705370732769 0.10117516999032702