### Sample program for Association Analysis (Market Basket Analysis) using FP-Growth

#### Import libraries

In [1]:
import pandas as pd
import pyfpgrowth  # https://fp-growth.readthedocs.io/en/latest/

#### Parameters

In [2]:
csv_in = 'online_retail_small_cleaned.csv'

#### Read CSV file

In [3]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(59145, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59145 entries, 0 to 59144
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    59145 non-null  int64
 1   StockCode    59145 non-null  object
 2   Description  59145 non-null  object
 3   Quantity     59145 non-null  int64
 4   InvoiceDate  59145 non-null  object
 5   UnitPrice    59145 non-null  float64
 6   CustomerID   59145 non-null  int64
 7   Country      59145 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 3.6+ MB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536386,84880,WHITE WIRE EGG HOLDER,36,2010-12-01 09:57:00,4.95,16029,United Kingdom
1,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,United Kingdom
2,536386,85099B,JUMBO BAG RED RETROSPOT,100,2010-12-01 09:57:00,1.65,16029,United Kingdom
3,536404,22297,HEART IVORY TRELLIS SMALL,24,2010-12-01 11:29:00,1.25,16218,United Kingdom
4,536404,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,12,2010-12-01 11:29:00,1.25,16218,United Kingdom

#### Check appearance of each StockCode

In [4]:
top_sc = df['StockCode'].value_counts()
print(top_sc.size)
print(top_sc.head())

3140
85123A    315
85099B    246
22423     229
84879     213
47566     208
Name: StockCode, dtype: int64

#### Format transaction data  
Before:  
```
invoice1, stockcode1, ...  
invoice1, stockcode2, ...  
invoice2, stockcode1, ...  
invoice3, stockcode1, ...  
invoice3, stockcode3, ...  
```

After:  
```
[  
  [stockcode1, stockcode2],    
  [stockcode1],  
  [stockcode1, stockcode3],  
  ...  
]  
```

and stockcode should be interger.

#### Assign an integer (ID) to each stockcode

In [5]:
id2sc = sorted(list(set(df['StockCode'])))
sc2id = {}
for i in range(len(id2sc)):
    sc2id[id2sc[i]] = i

In [6]:
df['StockCode_ID'] = df['StockCode'].map(lambda x: sc2id[x])
display(df.head())

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,StockCode_ID
0,536386,84880,WHITE WIRE EGG HOLDER,36,2010-12-01 09:57:00,4.95,16029,United Kingdom,2775
1,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,United Kingdom,2907
2,536386,85099B,JUMBO BAG RED RETROSPOT,100,2010-12-01 09:57:00,1.65,16029,United Kingdom,2906
3,536404,22297,HEART IVORY TRELLIS SMALL,24,2010-12-01 11:29:00,1.25,16218,United Kingdom,1078
4,536404,22771,CLEAR DRAWER KNOB ACRYLIC EDWARDIAN,12,2010-12-01 11:29:00,1.25,16218,United Kingdom,1517

#### Grouping transaction data by InvoiceNo

In [19]:
invoices = []
for r in df.groupby('InvoiceNo'):
    # print(len(r))  # debug
    # print(r[0])  # debug
    # print(r[1])  # debug
    #break  # debug
    s1 = set(r[1]['StockCode_ID'])
    invoices.append(list(s1))
print(len(invoices))
print(invoices)

492, 1499, 1628, 1373, 229, 485, 1131, 2162, 888, 890], [1923, 1155, 137, 2830, 1807, 532, 1557, 1559, 2585, 1561, 1331, 1332, 1461, 1081, 1339, 2752, 1346, 3139, 1348, 842, 843, 1356, 1482, 846, 849, 3027, 3028, 3029, 855, 2269, 2015, 2275, 2022, 2023, 1018], [129, 1922, 1154, 1924, 2181, 1926, 2055, 135, 2185, 2186, 651, 2060, 138, 134, 1807, 2196, 2198, 1177, 922, 1697, 673, 2084, 1958, 2219, 2228, 2229, 2230, 1718, 1588, 824, 1722, 2876, 2240, 704, 1986, 1987, 2256, 2257, 2258, 1105, 213, 2264, 2265, 2266, 1886, 2271, 992, 1381, 1382, 2023, 1253, 2537, 1131, 1906, 1910, 2169], [2048, 899, 1156, 2437, 262, 2439, 2057, 2059, 399, 146, 916, 1685, 2073, 1185, 1186, 299, 1201, 946, 947, 2485, 1214, 2114, 2013, 2014, 2527, 2017, 229, 2024, 1641, 1642, 2032, 1393, 2293, 892, 2047], [1156, 1925, 137, 139, 140, 797, 1999, 2264, 2266, 2271, 992, 1121, 1122, 1124, 111, 112, 113, 114, 117, 1917], [1798, 7, 1288, 1194, 2099, 2100, 2101, 2102, 1332, 1331, 2105, 1221, 1222, 1349, 980, 981, 1116, 1250, 1511, 2792, 2796, 2554], [2181, 262, 2055, 2056, 2824, 2053, 12, 910, 1166, 895, 1307, 1308, 2076, 673, 290, 1189, 1962, 1195, 430, 943, 1840, 1591, 825, 827, 60, 705, 452, 1481, 1994, 1482, 460, 1995, 1997, 457, 2257, 1234, 2258, 1878, 1879, 2647, 1239, 1368, 1887, 96, 1375, 2913, 1891, 1892, 2915, 746, 2802, 2165, 247, 2169, 767], [1221, 2892, 2575, 2099, 532, 888, 889, 2554, 891], [289, 2181, 1415, 1642, 2186, 367, 2191, 1585, 1586, 1587, 1588, 213, 2262, 2193, 1592, 1593, 895], [1920, 2177, 129, 2947, 1157, 902, 903, 1416, 1158, 780, 783, 1813, 1431, 799, 800, 1444, 947, 1331, 1332, 1998, 340, 982, 2264, 2906, 992, 1642, 2289, 892, 1149, 2558, 2047], [1547, 929, 674, 1443, 982, 2774, 1758, 1759, 1760, 1761, 1762, 1517, 624, 625, 2034, 626, 628, 629, 627, 2553], [2183, 2184, 2185, 2826, 2186, 1416, 1021, 147, 895, 1818, 2078, 289, 553, 2346, 554, 304, 1844, 1469, 2240, 2643, 2011, 2396, 1887, 482, 2405, 2022, 2023, 872, 1641, 1642, 367, 1018, 1915, 1020, 381, 382, 1023], [2177, 517, 1805, 1806, 1807, 3095, 3097, 2468, 1317, 2212, 2856, 2857, 426, 2090, 2091, 1962, 683, 3114, 3115, 1331, 1332, 1973, 1334, 1849, 954, 1850, 955, 958, 1086, 2119, 968, 2377, 2250, 1483, 1484, 1485, 3022, 1487, 2379, 3025, 338, 724, 982, 343, 3033, 346, 3043, 2148, 3045, 3046, 3044, 108, 2802, 3067, 3069, 1535], [386, 1415, 1416, 1189, 1448, 557, 2352, 944, 1969, 2362, 1723, 2629, 2632, 1992, 328, 330, 213, 739, 1125, 1387, 2419, 383], [2048, 1537, 2564, 2566, 2058, 2065, 2067, 2068, 2070, 1048, 2094, 1075, 1078, 1086, 2129, 1632, 1125, 1132, 111, 112, 113, 114, 2162, 1150, 1151, 1153, 130, 1155, 1156, 1157, 1158, 136, 137, 139, 2190, 2191, 2193, 2194, 2195, 2196, 1177, 673, 2752, 1229, 2264, 2265, 2266, 2271, 228, 229, 234, 774, 775, 1287, 1288, 262, 1291, 1292, 1294, 1807, 1820, 2333, 2343, 1325, 1326, 832, 835, 1362, 1363, 343, 2918, 367, 368, 895, 1920, 1921, 1919, 1923, 2947, 1925, 1926, 1415, 1416, 923, 924, 2986, 2988, 2989, 2990, 3002, 1984, 1493, 469, 2014, 992, 1011], [2059, 2060, 2071, 2072, 1577, 2609, 2610, 2611, 52, 565, 566, 567, 2626, 586, 590, 591, 609, 611, 613, 1128, 1143, 1166, 1168, 1169, 1683, 1183, 1185, 1186, 1187, 1697, 1705, 1205, 182, 185, 1724, 1725, 188, 1728, 2240, 1730, 1731, 1733, 1735, 2771, 1246, 735, 1251, 234, 235, 241, 242, 753, 758, 767, 769, 262, 1799, 2825, 2826, 2827, 1315, 1316, 1317, 1318, 2861, 819, 821, 2877, 331, 334, 1361, 1369, 1889, 370, 2419, 883, 884, 391, 908, 397, 2455, 920, 922, 930, 943, 944, 442, 443, 444, 1994, 971, 1996, 2014, 1001, 1003], [2240, 2214, 2185, 2186, 2222, 2223, 2258], [2946, 2182, 903, 2184, 2185, 786, 917, 792, 2202, 1312, 1697, 553, 1321, 556, 557, 1838, 1711, 944, 1840, 1841, 1842, 178, 1712, 2230, 2224, 704, 580, 1864, 586, 1484, 1996, 1230, 1487, 590, 591, 980, 342, 1240, 1753, 1241, 1758, 1374, 1375, 2149, 1517, 1518, 1519, 1520, 2161, 752, 1649, 1651, 757, 1650, 1653, 1144, 1148, 766, 2815], [2752, 1697, 1336, 324, 1604, 855, 1998, 1331, 1332, 1748, 2774, 1335, 1887, 1338, 1884, 2877, 1695], [2249], [2185, 2186], [1328, 2556, 2150, 1327], [1443, 195, 1353, 974, 2802], [3135], [2752, 1443, 230, 232, 2185, 329, 2033, 1331, 1332, 2067, 2068, 1944, 952, 2169, 1723], [2181, 1927, 1928, 1929, 1930, 1937, 1939, 532, 1941, 921, 1963, 1327, 1328, 1330, 1331, 1332, 1972, 1974, 1975, 1978, 1979, 1984, 2121, 716, 1870, 338, 723, 724, 346, 2142, 2143, 2144, 2145, 2918, 2025, 874, 2027, 752, 754, 886, 758, 2552, 2556], [2048, 129, 1920, 1536, 532, 1304, 1692, 1951, 2209, 430, 704, 1349, 1482, 1232, 1371, 238, 1910, 119, 2169, 895], [2240, 2186], [2827, 2070, 289, 291, 293, 1960, 296, 1203, 565, 1723, 1469, 829, 831, 830, 2881, 2879, 3139, 1482, 1380, 230, 234, 235, 367, 368, 369, 370, 1007, 372, 373, 886, 763], [1673, 2060, 1807, 1552, 1553, 2577, 530, 1684, 919, 1690, 2332, 1189, 1576, 1473, 1474, 1475, 1476, 1987, 1986, 1985, 1605, 1606, 1604, 2258, 981, 1500, 1251, 1252, 2024, 1384, 2805], [2476, 2487, 952, 2488, 958, 2889, 2005, 2006, 221, 94, 93, 2910, 2911, 100, 103, 744, 743, 2026, 2027, 748, 879, 880, 2036, 2170], [2178, 1828, 1221, 2876, 1864, 2728, 1384, 1998, 943, 2063, 2613, 1369, 988], [2658, 2282, 2283, 2026, 1360, 2258, 2835, 919, 2137, 250, 1371, 509, 1914], [2561, 2564, 2918, 969, 1227, 1228, 911, 1807, 2449, 405, 2137, 1530], [2240, 262, 2151, 2537, 2186, 1807, 2256], [3139, 1316, 1317, 2609, 1310], [1697, 1673, 2059, 2573, 2574, 1807, 2609, 1525, 1526], [1408, 2433, 1287, 1684, 536, 2456, 538, 1691, 1312, 1189, 38, 55, 1723, 1998, 1230, 2001, 1107, 1500, 1381, 1382, 119], [1442, 166, 1799, 169, 943, 1331, 244, 2457, 1692, 2269], [2185, 2186, 2187, 2188, 1805, 1806, 1807, 2078, 1828, 827, 2240, 984, 2023, 2151, 1515, 1907, 888, 2552, 2556], [1371, 1875, 1701], [870, 1416, 2346, 395, 396, 397, 382], [704, 705, 1672, 2604, 1231, 947, 2137], [2057, 2058, 2059, 2060, 1555, 1604, 582, 2121, 2134, 608, 611, 1126, 1641, 2177, 2179, 2180, 2181, 2185, 2186, 2188, 1677, 2189, 1166, 1684, 1685, 1692, 1721, 1722, 1727, 1728, 2240, 1730, 1731, 2241, 2245, 1734, 2246, 2256, 2769, 2258, 2771, 2257, 2269, 735, 242, 778, 1805, 1806, 1808, 1318, 1833, 1834, 1835, 1836, 1842, 1339, 338, 342, 2406, 1385, 1907, 1908, 1913, 1918, 895, 904, 1932, 1933, 1934, 1937, 1938, 1942, 1958, 1963, 1972, 1973, 1974, 1975, 1978, 1979, 1989, 1481, 1482, 2005, 992, 2023, 2024, 2044, 1535], [2240, 2248, 2186, 2261, 2262, 2263], [262, 1415, 1416, 2059, 1807, 532, 2069, 929, 2861, 1721, 2113, 1230, 1748, 213, 349, 1887, 1766, 1767, 2024, 1388, 1774], [1920, 522, 2059, 2060, 2191, 2192, 145, 2576, 532, 920, 921, 922, 805, 1062, 1061, 2600, 1576, 1577, 952, 953, 60, 1855, 1604, 1605, 1606, 1867, 2003, 2134, 2265, 2906, 2907, 2014, 992, 1249, 1384, 1385, 1259, 1014, 1918], [2240, 2181, 2185, 2186, 1327, 1328, 1647, 1331, 1332, 2165, 1335, 919, 2456, 921, 1309, 1726], [2048, 138, 1807, 1177, 798, 1957, 1962, 1834, 2604, 1581, 1195, 1469, 1482, 1105, 1876, 2261, 2263, 2264, 2265, 2266, 2906, 1654, 1919], [1920, 769, 1925, 1926, 1807, 532, 919, 895, 1958, 1959, 1965, 704, 2256, 2257, 2265, 2271, 1253, 1642, 892, 1919], [716], [992, 1918], [2065, 2066, 2067, 2068, 533, 2082, 1574, 551, 1577, 555, 2604, 1581, 557, 1583, 2115, 1603, 2117, 582, 586, 587, 591, 1128, 2676, 1143, 638, 2177, 2185, 2186, 1677, 1169, 1692, 1703, 1705, 1194, 1195, 1708, 2223, 1723, 704, 2240, 716, 1741, 1742, 2257, 723, 724, 1244, 1255, 2289, 759, 1785, 250, 767, 1797, 2821, 780, 1807, 788, 2328, 282, 2330, 2855, 2856, 2857, 2869, 1345, 322, 2888, 342, 1880, 1881, 1372, 1373, 879, 880, 1907, 2419, 1402, 1408, 900, 2448, 2967, 2968, 921, 924, 423, 424, 1964, 1965, 1966, 943, 433, 947, 951, 1986, 1475, 1998, 1999, 2000, 978, 2005, 2006, 990, 991, 2024, 1001, 1002, 1004, 2030, 2031, 2032, 506, 2044, 2557, 510], [2048, 130, 1927, 1928, 1929, 1930, 917, 797, 798, 1951, 800, 1446, 1447, 1448, 1963, 1325, 1326, 1327, 1328, 1330, 1331, 1332, 1105, 2264, 2265, 2906, 1630, 2143, 2018, 1893, 2047], [992, 517, 518, 1807, 688, 915, 346], [2240, 2185, 2186, 943, 1648, 1649, 1650, 1651, 1652, 1653, 1207], [1633, 299, 2005, 2006, 1368, 2556, 1469], [992, 2177, 2240, 2185, 2186, 1807, 2032, 1906, 1908, 788, 2585, 1306], [986, 2271, 344, 2265, 2021, 1926, 2011, 2266, 1497, 140, 346, 369, 2264, 2585, 1498, 1499, 798, 799], [1585], [2181, 2248, 1684, 343, 346], [1920, 2947, 2180, 2563, 2057, 782, 783, 1561, 2877, 1221, 1873, 338, 343, 344, 346, 2906, 2908, 1641, 2554, 1916, 1917, 1919], [2816, 471, 1066, 1067, 1550, 945, 469, 2332, 2038, 2457, 1820, 1247], [2562, 2563, 2947, 2547, 343, 346], [386, 2053, 2054, 1158, 1157, 1673, 389, 2057, 2830, 2831, 1552, 2832, 788, 1314, 945, 1461, 1463, 2877, 2881, 323, 1991, 1096, 1993, 1485, 1487, 1143, 982, 2774, 2906, 1628, 1631, 2016, 2274, 2024, 111, 112, 113, 119, 1918], [1105, 1106, 3139, 575], [2563, 2948, 2949, 2185, 1165, 1166, 1807, 788, 2837, 673, 1473, 1474, 1475, 1476, 1478, 586, 587, 590, 591, 337, 344, 2534, 1904, 2289, 2290, 2293, 2169], [3136, 227, 1189, 1830, 230, 1513, 395, 2861, 397, 144, 369, 2610, 145, 1497, 1979], [701], [2947, 1929, 1930, 2059, 1421, 2575, 532, 920, 921, 922, 284, 1443, 1331, 1332, 1335, 1976, 1978, 2879, 1984, 2883, 1870, 338, 346, 2145, 886, 2552, 2556], [1923, 1924, 1581, 1582, 1230, 944, 1107, 1075, 1143, 2554, 1631], [133, 1926, 7, 518, 517, 2321, 2324, 2328, 1331, 1332, 1335, 1603, 1476, 1478, 586, 587, 591, 2137, 2266, 2272, 226, 227, 2024, 243, 244, 117], [134, 135, 1800, 902, 906, 907, 651, 2573, 2574, 1807, 2446, 1292, 2066, 2067, 788, 2195, 2197, 2198, 792, 2585, 1049, 2196, 2078, 2194, 674, 1958, 1959, 2598, 2982, 1576, 1068, 1069, 943, 944, 49, 1714, 51, 569, 1726, 959, 1728, 704, 3138, 1731, 1604, 1605, 842, 1744, 592, 1362, 467, 2257, 1238, 2134, 2138, 2268, 1887, 992, 2273, 1251, 1381, 1382, 1253, 230, 1385, 752], [1443, 2821, 2377, 2379, 2059, 1356, 299, 2191, 2802, 532, 2134], [1920, 577, 2022, 1222, 2057, 1482, 1641, 2604, 1642, 1550, 945, 947, 1588, 886, 1690, 1151, 1982, 2047], [2187, 907, 2059, 1813, 1824, 2212, 2215, 1577, 2090, 2091, 2224, 1588, 1473, 346, 2272, 2789, 2159, 2802, 2168, 2553, 2556], [1408, 2048, 2051, 1924, 2181, 138, 139, 140, 2193, 788, 1306, 2589, 1311, 1697, 2086, 945, 52, 54, 56, 1228, 2636, 2637, 2894, 592, 2895, 1106, 2896, 2897, 469, 2262, 471, 2266, 2908, 120, 732, 1246, 1633, 1634, 1252, 2663, 2027, 500, 632, 634, 1915, 895], [1889, 1890, 1446, 1447, 1807, 1808, 530, 917, 1757], [1537, 769, 2178, 1156, 1154, 2054, 262, 8, 2438, 650, 2571, 2572, 2573, 2574, 2575, 529, 530, 2067, 918, 2071, 280, 2585, 1306, 1307, 796, 2588, 2973, 1826, 1186, 1828, 1188, 1187, 171, 172, 943, 946, 1206, 1335, 3002, 60, 3138, 1349, 331, 332, 334, 2894, 2895, 1490, 1491, 724, 338, 982, 342, 984, 1369, 1372, 992, 2658, 2659, 611, 2918, 1271, 2025, 2026, 237, 238, 2415, 239, 753, 1265, 243, 2419, 1143, 2939, 1534], [262, 2056, 650, 2572, 2189, 2190, 1807, 2192, 2576, 529, 2574, 2967, 152, 2088, 2089, 2090, 299, 2219, 947, 52, 2101, 54, 2879, 1727, 1476, 2256, 2129, 2130, 2257, 2258, 1373, 1503, 735, 2015, 1252, 2918, 1895, 2023, 1513, 1642, 1770, 2022, 1906, 883, 1527, 1531, 2175], [2048, 1989, 2341, 1415, 2663, 2665, 2666, 299, 2636, 2637, 2446, 753, 755, 757, 2265, 2939, 2940, 2527], [736, 262, 2188, 1838, 590, 591, 2801, 1807, 884, 2877], [2053, 1545, 2058, 2063, 2064, 1426, 1684, 1428, 1429, 1431, 895, 1813, 1307, 1311, 2081, 2082, 935, 2089, 2090, 2091, 1200, 1919, 192, 1988, 2131, 2022, 1641, 2537, 1776, 2047], [2080, 827, 1474, 1475, 1762, 1807, 2000, 2801, 213, 342, 535, 888, 889, 822, 891], [1920, 1384, 1916, 2059, 2418, 1940, 2264, 1530, 1819, 2908], [2177, 2823, 2185, 2187, 1684, 790, 792, 1818, 1914, 1824, 1189, 2861, 303, 945, 947, 2102, 2876, 1469, 2240, 969, 1233, 2005, 2006, 346, 2142, 2143, 2144, 226, 739, 1379, 227, 2918, 1639, 2025, 2026, 2804, 1786, 1915], [2240, 230, 232, 2185, 2186, 2191, 1807, 2266], [2417], [1697, 2821, 1702, 2604, 653, 654, 1806, 1805, 369, 1231, 688, 1718, 55, 1624, 2265], [789], [1440, 1537, 2818, 2019, 2020, 2373, 2372, 1506, 324, 2604, 396, 17, 340, 853, 1527, 1914, 1503], [2438, 2439, 1291, 781, 2067, 788, 2195, 791, 792, 1951, 1828, 680, 1325, 50, 1973, 1975, 56, 1722, 315, 316, 705, 725, 855, 2018, 1641, 2803, 1908, 1270, 1910, 1272, 1918, 895], [2946, 2564, 774, 775, 776, 778, 782, 783, 1179, 924, 925, 2121, 338, 342, 343, 344, 735, 234, 235, 2559], [2048, 133, 2181, 1931, 1292, 1294, 1189, 1962, 2739, 1204, 2745, 1469, 1349, 582, 1358, 1490, 3027, 2264, 2137, 1883, 1501, 1251, 486, 2024, 1001, 2417, 243, 884, 885, 883, 1919], [1642, 895], [291, 2407, 2442, 11, 2418, 2424, 2425], [1408, 2561, 2562, 2566, 1960, 1726, 1727, 1728, 1872, 1874, 992, 2530, 2531, 2532, 1381, 1382, 739, 2918, 2537, 111, 113, 114, 1269, 1270, 2553, 2554], [2277], [2265], [1688, 2578, 870], [2179, 232, 2222, 2256, 2194, 2067, 2175], [1550, 411, 674, 2343, 2473, 2474, 2475, 2861, 303, 304, 2868, 2872, 64, 65, 66, 1228, 85, 866, 2918, 2044], [2053, 2054, 2057, 1805, 1691, 1692, 1956, 1957, 2088, 1195, 2860, 2861, 2223, 304, 1971, 1332, 1975, 1722, 1723, 2108, 956, 1471, 705, 1482, 1740, 1741, 1998, 1999, 2256, 2001, 2000, 1235, 2258, 2257, 2006, 1237, 1762, 1514, 1515, 241, 1906, 242, 1911, 2430, 767], [2752, 430, 207, 2644, 957], [2575, 529, 3102, 566, 582, 1106, 2133, 1116, 1121, 1122, 1123, 1124, 2177, 1154, 1155, 1670, 135, 136, 137, 139, 2703, 146, 1713, 1722, 1727, 1728, 2240, 1731, 1733, 1734, 1735, 723, 724, 1238, 2266, 2271, 1774, 262, 1307, 804, 806, 1325, 814, 304, 1332, 1336, 2876, 2877, 2881, 1346, 1347, 1348, 324, 1350, 1351, 1352, 1353, 1354, 1356, 2402, 880, 881, 884, 888, 889, 1914, 1915, 1923, 927, 930, 2982, 1971, 1978, 1979, 957, 1998, 470, 3032, 2010, 992, 2025, 1517, 1007], [704, 43, 652, 2129, 786, 338, 340, 344, 1021, 1023], [1408, 129, 1154, 1923, 1157, 2053, 903, 1802, 138, 140, 1807, 2576, 273, 1559, 1561, 1306, 1308, 1310, 544, 673, 1314, 289, 689, 1459, 309, 1462, 1974, 2872, 1984, 1986, 1989, 1482, 1741, 1742, 591, 1229, 975, 594, 1235, 2260, 1109, 2262, 2263, 1239, 854, 2774, 2128, 1372, 223, 992, 866, 1638, 2022, 1640, 1254, 1894, 1641, 1135, 1137, 1138, 1265, 1268, 1525, 1526, 1912, 252, 1022, 895], [2240, 1673, 2250, 1963, 1676, 1807, 881, 2261, 2263], [2181, 531, 532, 1306, 1952, 1953, 1441, 1954, 2084, 1957, 1961, 1723, 1471, 1473, 1474, 1475, 1476, 1604, 1606, 3139, 328, 2633, 843, 1381, 1382, 1384, 1647, 369], [517, 1222, 742, 744, 743, 423, 108, 1906, 1750, 1887, 1849, 1244, 2751], [2881, 2658, 2659, 2433, 2023, 1673, 1674, 972, 1971, 884, 1270, 2553, 2555, 2428, 895], [1159, 1161, 1162, 2059, 1164, 529, 2577, 919, 1952, 1442, 1956, 309, 2231, 1244, 992, 486, 2024, 883, 884, 885, 1145, 1147], [2248, 2249, 2250], [1552, 7], [2457, 895], [3138, 1911, 1895], [2177, 3139, 2053, 2055, 1800, 2057, 1973, 1974, 1975, 536, 2265, 1405, 1919], [652, 1172, 1176, 1450, 1452, 309, 963, 1866, 980, 1368, 1500, 1244, 1502, 1503, 1505, 1506, 485, 486, 873, 877, 1261, 1007, 1268, 1396, 1398], [2048, 133, 2181, 1416, 2186, 2827, 2060, 2703, 1684, 917, 919, 2585, 797, 798, 1821, 800, 1951, 2082, 1576, 1963, 1841, 2047, 2240, 1604, 1605, 1606, 2248, 2249, 2250, 2134, 2265, 2906, 2266, 2268, 739, 1642, 367, 752, 758, 1918, 895], [2185, 2186, 1932, 2327, 1177, 2201, 1701, 1445, 1835, 173, 956, 1998, 1236, 2261, 1237, 2264, 2150, 2161, 2803, 2042], [1921, 2435, 1924, 1605, 1604, 1606, 2138, 1385, 1926, 2575, 1973, 758, 1655, 1656, 2266, 2271], [1542, 1798, 2061, 2964, 2973, 40, 1962, 554, 1080, 718, 80, 2644, 2261, 860, 862, 2918, 1896, 1005, 115, 884], [2182], [1232, 2801, 1528, 1374, 1375], [1641, 1642, 2802, 786, 2267, 895], [1153, 1807, 2264, 2906, 1151], [1925, 1416, 392, 2063, 144, 2577, 531, 1311, 1696, 1312, 1829, 1957, 1831, 1960, 1830, 1961, 1837, 943, 825, 1723, 1469, 1474, 1475, 1988, 2628, 1476, 1478, 969, 2633, 2892, 1105, 1369, 2266, 739, 1380, 2427, 509, 2430, 2431], [769, 1154, 1672, 1673, 137, 139, 140, 1807, 529, 530, 145, 919, 1559, 1697, 1827, 2084, 2085, 943, 944, 1969, 1971, 1461, 1338, 3139, 843, 849, 1106, 1105, 1369, 1498, 1371, 1375, 1632, 238, 239, 119], [361, 350], [1921, 1410, 134, 135, 1673, 1131, 1295, 1397], [516, 652, 1549, 1550, 1554, 915, 916, 1173, 1171, 1174, 2963, 926, 927, 930, 931, 1188, 2221, 304, 306, 1204, 2743, 569, 570, 1094, 2007, 215, 985, 1502, 1504, 866, 867, 868, 485, 870, 1506, 872, 873, 1256, 1257, 876, 1261, 1898, 1647, 2281, 1396, 1270, 1271, 1272, 1398], [2218, 2803, 2802], [963, 964, 486, 1227, 1396, 1398, 1531], [2187, 2059, 2191, 2192, 2578, 2579, 2581, 790, 791, 920, 2457, 1306, 922, 1308, 1309, 1310, 919, 2084, 1577, 2553, 688, 690, 2099, 2101, 705, 1995, 2256, 2257, 1254, 2022, 1642, 1903, 1909, 2041], [1185, 769, 1385, 1577, 2059, 2604, 974, 1807, 1906, 2802, 788, 919, 2585, 922, 2332], [673, 1604, 2181, 1606, 1577, 2059, 1806, 1807, 920, 2169, 1308, 1310, 1311], [2752, 2604, 1075, 436, 472, 2174], [1549, 303, 304, 306, 3001], [1505, 2274, 1444, 1349, 1286, 1962, 2187, 652, 1807, 1331, 788, 1332, 504, 892, 767], [992, 673, 2240, 2185, 2186, 1229, 1807, 2032, 1906, 1908, 788, 1306, 1723], [1920, 1156, 2918, 2264, 2266, 2906], [769, 1314, 1315, 1253, 1254, 1906, 2585], [1379, 324, 2053, 1478, 1189, 1448, 2537, 1642, 1995, 1606, 1997, 2134, 951, 1886, 1439], [1825, 1349, 582, 716, 1390, 1391, 1116, 1009, 2802, 1395, 1394, 727, 412, 1335], [2272, 1989, 2821, 40, 683, 1453, 688, 2449, 2774, 2552, 250, 2174], [129, 1988, 2663, 2665, 874, 1807, 113, 1266, 2611, 2610, 594, 1722, 1721, 2906, 1919], [1921, 1410, 130, 2821, 134, 135, 136, 1799, 1800, 800, 1448, 2219, 2103, 324, 1222, 1876, 984, 2906, 2908, 992, 228, 229, 1131, 1132, 1005, 752, 758, 2169, 2556, 381, 382], [1376, 2186, 2418, 895], [2918, 2552, 2890, 2264, 2554, 2907, 2556], [992, 673, 129, 739, 963, 1093, 2486, 2487, 2457, 2907, 2332, 1629], [917, 1807], [2049, 2050, 2051, 2574, 1807, 2068, 1692, 1308, 1310, 673, 1185, 1827, 1189, 1832, 1969, 1971, 2240, 3139, 1476, 2247, 1999, 2000, 2256, 1876, 2261, 2262, 2263, 2138, 1373, 1892, 2023, 2162, 2163, 2164, 2169, 1914, 1915, 382], [1474, 1475, 1604, 1605, 1606, 1092, 1800, 424, 531, 532, 2134], [1222, 2056, 1803, 1388, 821, 534, 2011, 349], [2048], [2240, 1376, 1922, 1605, 38, 2598, 1190, 537, 1007, 1268, 1717, 1208, 857, 412, 2110], [2576, 529], [1920, 1922, 2435, 134, 136, 2074, 2080, 1837, 3120, 3122, 3123, 3124, 3128, 3129, 3132, 3133, 2239, 1988, 1989, 2003, 2264, 2266, 2906, 1268, 500, 119], [1664, 1272, 2946, 1667, 1668, 2564, 2566, 2947, 1416, 1415, 2182, 783, 2191, 922, 1179, 1697, 1443, 1828, 1444, 299, 2093, 2094, 2480, 689, 309, 2231, 440, 2048, 1605, 582, 2120, 2121, 1232, 1233, 338, 340, 213, 2005, 2006, 344, 346, 222, 223, 868, 2918, 486, 1384, 2025, 1385, 2027, 2024, 1396, 1397, 1270, 1269, 2040, 2041, 2043, 1662, 1663], [1473, 1474, 1475, 1478, 1906, 29], [2048, 2563, 2059, 529, 530, 532, 2581, 2080, 2081, 1577, 1579, 1588, 1080, 1081, 1082, 1083, 1592, 2111, 2112, 1604, 1605, 1606, 2134, 119, 2168, 1660, 1662, 130, 137, 138, 139, 2185, 2186, 1177, 674, 2723, 2728, 1710, 2240, 2752, 724, 213, 2265, 2266, 2269, 2270, 2271, 739, 262, 1306, 1307, 2332, 1309, 1310, 1823, 1308, 289, 1826, 1325, 815, 1328, 1330, 824, 1345, 1350, 1862, 1863, 1865, 2889, 1871, 1366, 2906, 1883, 2918, 1384, 1385, 1902, 879, 880, 1913, 1914, 1919, 1925, 1927, 1929, 1930, 918, 919, 920, 1437, 424, 1969, 1970, 1971, 1974, 1975, 1988, 984, 2017, 994, 995, 996, 998, 999, 1000, 501, 1534, 2047], [2017, 2407, 1577, 1642, 1486, 2576, 1684, 893], [1632, 1475, 328, 1143, 1592, 1593], [1056, 229, 2060, 346, 1497, 1498, 532, 919, 920, 921, 922, 1208], [1504, 1506, 3047, 3048, 1162, 1164, 978, 306, 1396, 1301, 1302, 2489, 1501, 1503], [1377, 1378, 234, 1803, 556, 554, 373, 1371, 988], [768, 705, 769, 2240, 2185, 1358, 1360, 1208, 1500, 1212], [896], [2433, 1537, 396, 1914, 1829, 423, 424, 2604, 689, 324, 2885, 2372, 340, 1885, 1886, 2021, 1900, 2030, 1017, 250], [1922, 1932, 2831, 2832, 2833, 788, 535, 1304, 792, 1946, 2203, 1309, 1310, 541, 542, 2084, 1707, 1453, 1970, 1460, 312, 1721, 313, 1722, 315, 1339, 2238, 1723, 3139, 1484, 2003, 1374, 1763, 1639, 1640, 889, 890, 1918]]

#### Market Basket Analysis by FP-Growth

In [8]:
%time patterns = pyfpgrowth.find_frequent_patterns(invoices, 40)

CPU times: user 181 ms, sys: 1.03 ms, total: 182 ms
Wall time: 180 ms

In [9]:
#print(patterns)

In [10]:
%time rules = pyfpgrowth.generate_association_rules(patterns, 0.8)

CPU times: user 0 ns, sys: 365 µs, total: 365 µs
Wall time: 367 µs

In [11]:
print(rules)

{(1473,): ((1475,), 0.803921568627451), (1332,): ((1331,), 0.8243243243243243), (1474, 1478): ((1475,), 0.8035714285714286), (1475, 1478): ((1474,), 0.8490566037735849), (138, 1156): ((137,), 0.8333333333333334), (140, 1156): ((137,), 0.8448275862068966), (1154, 1156): ((137,), 0.828125)}

In [12]:
results = []
for x in rules:
    ret = [x, rules[x][0], rules[x][1]]
    results.append(ret)
df_res = pd.DataFrame(results)
df_res.columns = ['LHS', 'RHS', 'Conf']

In [13]:
display(df_res.sort_values(by='Conf', ascending=False))

            LHS      RHS      Conf
3  (1475, 1478)  (1474,)  0.849057
5   (140, 1156)   (137,)  0.844828
4   (138, 1156)   (137,)  0.833333
6  (1154, 1156)   (137,)  0.828125
1       (1332,)  (1331,)  0.824324
0       (1473,)  (1475,)  0.803922
2  (1474, 1478)  (1475,)  0.803571

#### Get original StockCode

In [14]:
print(id2sc[1474])
print(id2sc[1475])
print(id2sc[1478])

22726
22727
22730

#### Calculation of Lift

In [15]:
n_all = len(invoices)
lift = []
for i in range(df_res.shape[0]):
    rhs = df_res.at[i, 'RHS']
    conf = df_res.at[i, 'Conf']
    n_rhs = 0
    for items in invoices:
        if set(items) >= set(rhs):
            n_rhs += 1
    lift1 = conf / (n_rhs / n_all)
    lift.append(lift1)
    
df_res['Lift'] = lift

In [16]:
display(df_res.sort_values(by='Conf', ascending=False))

            LHS      RHS      Conf       Lift
3  (1475, 1478)  (1474,)  0.849057  18.287883
5   (140, 1156)   (137,)  0.844828  11.883621
4   (138, 1156)   (137,)  0.833333  11.721939
6  (1154, 1156)   (137,)  0.828125  11.648677
1       (1332,)  (1331,)  0.824324  28.057558
0       (1473,)  (1475,)  0.803922  16.540386
2  (1474, 1478)  (1475,)  0.803571  16.533182